header {
    padding: 20px 0 20px;
    background: #BBBBBB;
    margin-bottom: 1px;
}

#banner {
    width: 100%;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.titulo-home {
    position: absolute;
    top: 110px;
    right: 100px;
    font-size: 40px;
    font-weight: bold;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

.titulo-centralizado {
    text-align:center
}

p {
    text-align:center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background-color: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block ;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

.imagembeneficios {
    width: 50%;
}

footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.texto-copy {
    color: #FFFFFF;
    font-size: 13px;
    margin:20px 0 0 
}



